html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1f24;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.score {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  user-select: none;
}

.circle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none; 
  -webkit-user-drag: none; 
  -moz-user-select: none; 
  
}

.circle img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.05);
  transition: transform 0.2s ease;
  --tiltX: 0deg;
  --tiltY: 0deg;
  transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
  margin-bottom: 20px;
}

.circle h1 {
  color: #fff;
  margin-bottom: 20px;
}

.click {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.click h2 {
  color: #fff;
  margin-bottom: 20px;
}

.lamp {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
}

.lamp img {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
}

.plus-one {
  position: absolute;
  font-family: Inter;
  text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
  font-size: 24px;
  font-weight: 800;
  background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  user-select: none;
  animation: move-up 3s forwards;
}
.hint {
  color: #fff;
  margin: 0;
  display: none;
}
.hints {
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
  width: 100%;
  max-width: 400px; 
}

.hints .lamp {
  grid-column: 1;
}

.hints .hint {
  grid-column: 2;
}

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .header img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .circle img {
    width: 200px;
    height: 200px;
  }
  .circle h1,
  .click h2 {
    text-align: center;
  }
  .click {
    flex-direction: column;
  }
  .lamp img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .score {
    font-size: 24px;
  }
  .circle img {
    width: 150px;
    height: 150px;
  }
  .click h2 {
    font-size: 16px;
  }
  .lamp img {
    width: 50px;
    height: 50px;
  }
}
